{% extends 'base.html.twig' %}

{% block title %}Modifier les images d'accueil{% endblock %}

{% block content %}
<div class="container">
    <h1>Modifier les images d'accueil</h1>

    {{ include('image_accueil/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('app_image_accueil_index') }}"> <p class="retour">< retour à la liste<P></a>
 
    {{ include('image_accueil/_delete_form.html.twig') }}
</div>
<style>
    .container{
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #F9F9FA;
    color: #413C49;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;

    
} 
.retour{
    color: #6b6b6b;
    position: absolute;
    margin-top: -40em;
}
</style>
{% endblock %}
