{% extends 'base.html.twig' %}

{% block title %}Nouvelles images d'accueil{% endblock %}

{% block content %}
<div class="container">
<a href="{{ path('app_image_accueil_index') }}"> <p class="retour";>< retour<p></a>
    <h1>Créer de nouvelles image d'accueil</h1>
    {{ include('image_accueil/_form.html.twig') }}
    
</div>
<style>
        h1{
            margin-top:10px;
        }
        .container{
        max-width: 800px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #F9F9FA;
        color: #413C49;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 5px;
    
        
    } 
    .retour{
        color: #6b6b6b;
    }
    </style>
{% endblock %}
