<form method="post" action="{{ path('app_modifparagraphe_delete', {'id': modifparagraphe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ modifparagraphe.id) }}">
    
    <button class="btn btn-danger btn-lg btn-block" style="width:400px;display: block;
margin: 0 auto;">Supprimer</button>
</form>
